@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h1 {
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    margin-bottom: 50px;
}

h3 {
    font-family: "Chocolate Classical Sans", sans-serif;
            font-weight: 400;  
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #53b86c;
    color: #fff;
    border: none;
    border-radius: 5px;
    
}


div {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px; 
    margin-bottom: 20px;
    
}

#instrucao{
    border-radius: 5px;
    padding: 2px;
}